

#wrapper{

    border: 5px solid;
    margin: 20px auto 20px auto;
    padding: 20px;
    background: #ffc90e;
    background: -webkit-linear-gradient(#b3e6ff, #80d4ff);
    border-radius: 10px 10px 10px 50px;

}


.zile{
    
    height: 45px;
    margin: 7px;
    background: #0099ff;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    width: 13%;
    display: inline-block;
    margin-left: 8px;
    

}

.second
{
    height: 55px;
    margin: 7px;
    background: #bef0ff;
    color: black;
    text-align: center;
    /*line-height: 0px;*/
    font-weight: 400;
    width: 13%;
    display: inline-block;
    margin-left: 8px;
    padding-top: 30px;
}
/*umple patratele in functie de cate ore sunt ocupate */
.un_sfert
{
    background: -webkit-linear-gradient(top, #ffcccc 70%,#bef0ff 70%);
    background:         linear-gradient(to bottom, #ffcccc 70%,#bef0ff 70%);
}
   
.doua_sferturi
{
    background: -webkit-linear-gradient(top, #ffcccc 80%,#bef0ff 80%);
    background:         linear-gradient(to bottom, #ffcccc 80%,#bef0ff 80%);
}
.trei_sferturi
{
    background: -webkit-linear-gradient(top, #ffcccc 90%,#bef0ff 90%);
    background:         linear-gradient(to bottom, #ffcccc 90%,#bef0ff 90%);
}
.patru_sferturi
{
    background: -webkit-linear-gradient(top, #ffcccc 60%,#bef0ff 60%);
    background:         linear-gradient(to bottom, #ffcccc 60%,#bef0ff 60%);
}
.cinci_sferturi
{
    background: -webkit-linear-gradient(top, #ffcccc 50%,#bef0ff 50%);
    background:         linear-gradient(to bottom, #ffcccc 50%,#bef0ff 50%);
}
.sase_sferturi
{
    background: -webkit-linear-gradient(top, #ffcccc 40%,#bef0ff 40%);
    background:         linear-gradient(to bottom, #ffcccc 40%,#bef0ff 40%);
}
.sapte_sferturi
{
    background: -webkit-linear-gradient(top, #ffcccc 30%,#bef0ff 30%);
    background:         linear-gradient(to bottom, #ffcccc 30%,#bef0ff 30%);
}
    
.opt_sferturi
{
    background: -webkit-linear-gradient(top, #ffcccc 20%,#bef0ff 20%);
    background:         linear-gradient(to bottom, #ffcccc 20%,#bef0ff 20%);
}
       /*ppppppppppppppppppppppppppppppppppaaaaaaaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnna aici */


#popupDivProgramari 
{
    
    width: 186px;
    height: 120px;
    background-color: #00ffd9;
    position: absolute;
    top: 105px;
    bottom: 268px;
    left: -225px;
    right: 0;
    margin: auto;
    padding: 14px;
}

#patrateCuData
{
    display: block;
}