#popupDiv {

    width: 186px;
    height: 120px;
    background-color: #00ffd9;
    position: absolute;
    top: 105px;
    bottom: 268px;
    left: -225px;
    right: 0;
    margin: auto;
    padding: 14px;
}

.desfasurator {
    border: 5px solid;
    margin: 20px auto 20px auto;
    padding: 20px;
    background: #ffc90e;
    background: -webkit-linear-gradient(#b3e6ff, #80d4ff);
    border-radius: 10px 10px 10px 50px;
   
    
}

.search {


}

.proBold {

    
}

.oraText {

    display: inline-block;
    width: 20%;
}


.pacientText {

    display: inline-block;
    text-align: center;
    width: 80%;

    font-weight: lighter;
}
}










.desfasurator {

	width:100%;
	
}

.module {
background-color:#e6f2ff;
border-radius: 10px;
padding: 2px;



}

.fifR {

    float: left;
    width: 8%;
    background-color: #9dc0f9;
    border-radius: 0px;
}
.bold {
	font-weight: bold;
}

.fifL {
	background-color: #9dc0f9;
    border-radius: 0px;
    text-align: center;
 }


.dropcontent > div:nth-of-type(even) {
	background-color: #cce6ff;
	width:100%;
    
}

#listaProgramari {
    display: none;
}

